#root {
  margin: 0;
  height: 100%;
  background-color: var(--vscode-menu-background);
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.expand-collapse-buttons {
  display: inline-block;
  float: right;
}

.expand-collapse-buttons>span {
  padding: 0px 2px;
  border: 1px solid transparent;
  border-radius: 3px;
  margin: 0 5px;
  cursor: pointer;
}

.expand-collapse-buttons>span:hover {
  background-color: rgba(var(--vscode-editor-background), 0.8);
}

.navbar {
  flex-grow: 0;
  padding: 10px 5px 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-bar {
  padding: 10px 10px 0 10px;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile+label {
  padding: .4em;
  font-size: 1em;
  font-weight: 700;
  color: var(--vscode-button-foreground);
  background: var(--vscode-button-background);
  display: inline-block;
  margin-left: .8em;
  margin-top: .2em;
  border-radius: 5px;
  transition: .2s;
}

.inputfile+label:hover {
  background: var(--vscode-button-hoverBackground);
}

.inputfile+label {
  cursor: pointer;
}

.node-container {
  display: flex;
  align-items: center;
  border: 1px solid transparent;
}

.node-container.selected {
  border: 1px solid var(--vscode-focusBorder);
  box-sizing: border-box;
  background-color: var(--vscode-inputOption-activeBackground);
}

.node-container.focused {
  border: 1px solid var(--vscode-focusBorder);
  box-sizing: border-box;
}

.node {
  width: max-content;
  display: flex;
  align-items: center;
  min-width: 100%;
}


.node_error {
  color: var(--vscode-editorError-foreground);
}

.node_icons {
  margin-left: 5px;
  opacity: 40%;
  color: var(--vscode-button-background);
}

.node-label {
  margin-left: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.node-label.third-party {
  cursor: default;
}

.node-label:not(.third-party):hover {
  opacity: 0.8;
}

.node_icons:hover {
  opacity: 100%;
  color: var(--vscode-button-background);
}

.redux_connect {
  margin-left: 5px;
  color: var(--vscode-button-hoverBackground);
  opacity: 100%;
}

.expand-toggle {
  width: 12px !important;
  cursor: pointer;
}

.tree {
  margin-left: 10px;
}